/* ========== Photo_list.html  ==============*/

body {
    padding-top: 0px;
}
.pinGrid
{
left: 4% !important;
}

.pin
{
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
	width: 236px !important;
	margin-left: 0px;
    margin-bottom: 2% !important;
    margin-top: 0px !important;
	overflow:hidden;
}

.purple-50 {
    background-color: #fff;
}




.pin .text-muted
{
	float:right;
	margin-right:10px;
	padding-top:10px;
}

.pin .img-pin {
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
	margin-bottom: 0px;
	background: #f7f7f7;
	border-bottom: 1px solid #eaeaea;
	border-top:0px;
}

.pin #photo-o-name {
    margin-top: 5px;
    font-size: 12px;
    float: left;
    display: block;
}

.pin #photo-origin-owner-username {
    margin-top: 6px;
    font-size: 11px;
	float:left;
    color: #c3c3c3;
}


.pin .photo-owner {
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
   
}

.pin p {
    padding: 10px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: block;
    float: left;
}

.pin p.photo-description {
    font-size: 12px;
    padding: 4px 10px;
    float: left;
    padding-bottom: 20px;
    width: 100%;
    display: block;
	font-weight:normal !important
}


.pin i.fa {
    font-size: 13px;
    padding-right: 2px;
    color: #3c3c3c;
}


.pin .list-inline>li {
    display: inline-block;
    padding-right: 4px;
    padding-left: 0px;
    font-size: 11px;
    color: #3c3c3c;
}

.pin #img-square
{
	border-radius:0px !important;
}

.pin .avatar img
{
	height:28px !important;
}

.pin #photo-origin-owner-section{
    padding-bottom: 8px;
    padding-left: 8px;
    padding-top: 8px;
    float: left;
    width: 100%;
}

.pin #photo-origin-owner-section .thumb-xs.avatar,
.pin .photo-owner .thumb-xs.avatar {
    width: 28px;
	margin-right:8px;
}

.pin .user-follow-status
{
	float:right;
	margin-top: 2px;
}
.pin .user-follow-status i {
    font-size: 12px;
}
.icon-user-following:before
{
    color: #fc8a70;
}
.icon-user-follow:before {
    color: #c5c5c5;
}
.navbar-fixed-bottom {
    background:#41414d;
}


.navbar-fixed-bottom .btn-group{
    padding: 2px 0px;
}

.navbar-fixed-top
{
	display:none;
}


.navbar-fixed-bottom .wrapper-xs
{
	padding:0px !important;
}


@media only screen and (max-width: 767px)
{
	.pin {
    width: 215px !important;
	}

}



@media only screen and (max-width: 480px)
{
.pin {
    width: 45% !important;
}

}




/* ========== detail.html  ==============*/

.photo-detail .owner-img {
    display: block;
    border-radius: 100%;
    float: left;
    width: 28px;
}



.photo-detail .detail-user-follow-status {
    float: right;
    margin-top: 5px;
}

.photo-detail .detail-owner-section {
    float: left;
    width: 100%;
    padding: 10px;
	background:#fff;
}

.photo-detail .fa-angle-left {
    float: left;
    margin-top: 0px;
    margin-right: 5px;
    font-size: 28px;
    color: #3c3c3c;
    width: 25px;
}

.photo-detail .panel {
    width: 100%;
    float: left;
    padding: 0px !important;
	    border: 0px;
		margin:0px;
		background:transparent;
		box-shadow:none;
}

.photo-detail .owner-name {
    padding-left: 10px;
    margin-top: 0px;
    float: left;
    color: #000;
    font-size: 16px;
    padding-top: 0px;
    line-height: 13px;
	width:75%;
}
	
.photo-detail .panel .wrapper-lg {
    width: 100%;
    float: left;
    padding: 0px;
}


.photo-detail .panel .wrapper-lg h4 {
    padding: 0px 0px 0px 15px;
    text-transform: inherit;
    color: #000;
	font-size:16px;
}

.photo-detail .panel .wrapper-lg .photo-detail-description {
    padding: 0px 15px;
    text-transform: inherit;
    color: #565656;
    font-weight: lighter;
    font-family: arial;
    font-size: 12px;
    width: 100%;
    padding-right: 0px;
    float: left;
    margin-bottom: 0px;
}

.photo-detail .detail-half {
    width: 50%;
    float: left;
    padding: 8px;
    margin: 0px;
    box-sizing: border-box;
}

/*
.photo-detail .wrapper-sm .img-wrap-xs .col-xs-3 {
    width: 25%;
    padding: 0px;
    height: 75%;
    overflow: hidden;
}*/

.photo-detail
{
	width:100% !important;
}

.photo-detail .wrapper-sm
{
	padding:0px;
}


.photo-detail .m-l-xxl {
    margin-left: 0px;
    padding: 10px;
    background: #fff;
    border-top: 0.1px solid #e4e4e4;
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 50px;
    z-index: 999999999999999 !important;
}


.photo-detail #photo-origin-owner-username {
    float: left;
    margin-left: 15px;
    padding: 8px 0px;
	width:75%;
}

.photo-detail .user-follow-status {
    float: right;
    margin-right: 5%;
    padding: 12px 0px;
}

.photo-detail .form-control {
    border-radius: 6px !important;
    padding: 0px 8px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    height: 30px;
	width:96% !important
}


 .photo-detail .glyphicon-heart
 {
	 color: #f48b6b;
	 margin:0px 8px
 }
 
 .photo-detail #photo-origin-owner-username .img-circle {
    border-radius: 0%;
    width: 32px;
	height: 32px;
    margin-right: 8px;
}


.photo-detail .btn-info {
    color: #929292 !important;
    background: none !important;
    border: none !important;
    padding: 0px 8px;
	font-size: 16px;
}

.photo-detail .d-p-title
{
	width:100%;
	float:left;
}
.photo-detail .icon-pencil {
    width: 25px;
    color: #000;
    position: relative;
    right: 0px;
    float: left;
    display: table;
    margin-left: 15px;

}

.photo-detail .avatar img
{
	height: 30px !important;
    width: 30px !important;
}

.photo-detail {
    max-width: 525px !important;
    margin: auto;
    display: table;
    float: none;
    position: relative;
    border: 1px solid #f7f7f7;
    background: #f5f5f5;
}

.photo-detail .row
{
	margin-left:auto !important;
	margin-right:auto !important;
}

.photo-detail .img-center {
    margin: 0 auto;
	min-width:100%;
	
}




.photo-detail .related-photos
{
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    padding-top: 0px;
    box-sizing: border-box;
    margin-top: 10px;
}
.photo-detail .comment-heading
{
	font-size:18px;
	text-align:left;
	padding-left:15px;
	box-sizing:border-box;
}


.photo-detail .streamline:after
{
display:none;	
}

.photo-detail .arrow.left:after,
.photo-detail .arrow.left
{
	display:none;
}

.photo-detail .streamline {
    position: relative;
    border-color: #dee5e7;
    padding: 0px;
    margin: 0px;
}


.photo-detail .streamline .avatar img {
    margin-left: 0px;
    float: left;
    height: 42px !important;
    width: 42px !important;
    border-radius: 100%;
}

.m-l-lg.panel.b-a {
    display: table;
    float: none;
    width: 80%;
}


.photo-detail .streamline .thumb-sm {
    display: table;
    width: 45px;
	margin-left: 15px;
}



.photo-detail .streamline .panel-heading {
    padding: 0px 10px !important;
    border: none;
    box-shadow: none;
}

.photo-detail .streamline .panel-body {
    padding: 0px 10px !important;
    border: none;
    box-shadow: none;
}

.photo-detail .streamline .panel
{
	box-shadow:none;
}

.photo-detail .streamline .wrapper-xs
{

	border-bottom:1px solid #d7d7d7;
	padding:8px 0px;
}


.photo-detail .pin {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    width: 226px !important;
    margin-left: 8px;
    margin-bottom: 2% !important;
    margin-top: 0px !important;
    overflow: hidden;
    margin-right: 8px;
}

.photo-detail-heading
{
width:100%;
float: left;
padding-top:10px;
padding-bottom:10px;
    position: relative;	
}

.photo-detail .uploaded-detail
{
	margin-left:10px;
}

.photo-detail .p-d-o-username
{
	display:block;
	float:left;
    font-size: 12px;
}

.b-light {
    border-color: #eaeaea;
}

.photo-detail-title
{
    display: table;
    float: left;
    width: 90%;
}

@media only screen and (max-width: 767px)
{
	.photo-detail  .pin {
    width: 215px !important;
	margin-left: 0px;
    margin-bottom: 2% !important;
    margin-top: 0px !important;
	}

}



@media only screen and (max-width: 480px)
{
.photo-detail  .pin {
    width: 45% !important;
	margin-left: 0px;
    margin-bottom: 2% !important;
    margin-top: 0px !important;
}

}