<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-inline text-center">
            <li><a class="btn btn-info" data-ng-href="#!/photo"><i
                    class="fa fa-arrow-left fa-2x"></i></a></li>
            <li><a class="btn btn-warning"
                   data-ng-href="#!/photo/edit/{{ photo.id }}"><i
                    class="fa fa-edit fa-2x"></i></a></li>
            <li>
                <button class="btn btn-danger" data-ng-click="remove()"><i
                        class="fa fa-trash-o fa-2x"></i></button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-12">
        <img class="img-responsive img-center" data-ng-src="{{ photo.photo }}"
             alt="{{ photo.title }}">
    </div>
</div>


<div class="col-lg-6">
 <hr>
    <div class="col-md-12">
        <h2 class="text-center">{{ (photo.title) ? photo.title : 'Untitled' }},
            <span class="text-muted">{{ photo.create_date | date : 'longDate': '+0800'}}</span>
        </h2>
    </div>
</div>
<div class="row" data-ng-if="photo.description">
    <hr>
    <div class="col-md-12"><h3>Description:</h3></div>
    <div class="col-md-12">
        {{ photo.description }}
    </div>
</div>
<div class="row" data-ng-href="photo.comments">
    <hr>
    <div class="col-md-12"><h3> {{ photo.comments.length }} COMMENTS:</h3>
    </div>
      <!-- .comment-list -->
      <div class="m-b b-l m-l-md streamline">
        <div data-ng-repeat="comment in photo.comments">
          <a class="pull-left thumb-sm avatar m-l-n-md">
            <img data-ng-src="{{ comment.author_data.thumb }}" class="img-circle" alt="...">
          </a>
          <div class="m-l-lg panel b-a">
            <div class="panel-heading pos-rlt b-b b-light">
              <span class="arrow left"></span>
              <a href=""><strong>{{ comment.author_data.username
                        }}</strong></a>
              <label class="label bg-info m-l-xs">Editor</label> 
              <span class="text-muted m-l-sm pull-right">
                <i class="fa fa-clock-o"></i>
                {{ comment.create_date| date : 'longDate': '+0800' }}
              </span>
            </div>
            <div class="panel-body">
              <div>{{ comment.message }}</div>
              <div class="m-t-sm">
                <a href ui-toggle-class class="btn btn-default btn-xs active">
                  <i class="fa fa-star-o text-muted text"></i>
                  <i class="fa fa-star text-danger text-active"></i> 
                  Like
                </a>
                <a href class="btn btn-default btn-xs">
                  <i class="fa fa-mail-reply text-muted"></i> Reply
                </a>
              </div>
            </div>
          </div>
        </div>
      <div class="clearfix m-b-lg">
        <a class="pull-left thumb-sm avatar"><data-ng-src="{{ visitor.thumb }}"
                             class="img-circle"></a>
        <div class="m-l-xxl">
          <form class="m-b-none">
            <div class="input-group">
              <input type="text" class="form-control input-lg" placeholder="Input your comment here">
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">POST</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>