<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-inline text-center">
            <li><a class="btn btn-info" data-ng-href="#!/photo"><i class="fa fa-arrow-left fa-2x"></i></a></li>
            <li><a class="btn btn-warning" data-ng-href="#!/photo/edit/{{ photo.id }}"><i class="fa fa-edit fa-2x"></i></a></li>
            <li><button class="btn btn-danger" data-ng-click="remove()"><i class="fa fa-trash-o fa-2x"></i></button></li>
        </ul>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-12">
        <img class="img-responsive img-center" data-ng-src="{{ photo.photo }}" alt="{{ photo.title }}">
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-12">
        <h2 class="text-center">{{ (photo.title) ? photo.title : 'Untitled' }},
            <span class="text-muted">{{ photo.create_date | date : 'longDate': '+0800'}}</span></h2>
    </div>
</div>
<div class="row" data-ng-if="photo.description">
    <hr>
    <div class="col-md-12"><h3>Description:</h3></div>
    <div class="col-md-12">
        {{ photo.description }}
    </div>
</div>
<div class="row" data-ng-href="photo.comments">
    <hr>
    <div class="col-md-12"><h3>COMMENTS:</h3></div>
    <div class="col-md-12" data-ng-repeat="comment in photo.comments">
        <div class="panel panel-default">
            <div class="panel-heading">{{ comment.name }}</div>
            <div class="panel-body">
            {{ comment.message }}
            </div>
            <div class="panel-footer">
                <small class="text-right text-muted">{{ comment.create_date| date : 'longDate': '+0800' }}
                </small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr>
    <form data-ng-submit="comment()">
    <div class="col-md-12">
        <h3>Leave a comment:</h3>
    </div>
    <div class="col-md-12">
        <textarea class="form-control" data-ng-model="new_message"></textarea>
    </div>
    <div class="col-md-12">
        <p></p>
        <p class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">comment</button>
        </p>
    </div>
    </form>
</div>