<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline text-center">
                <li><a class="btn btn-info" data-ng-href="#!/photo"><i class="fa fa-arrow-left fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <form data-ng-submit="update()">
                <table class="table">
                    <tr>
                        <td>Title:</td>
                        <td><input type="text" class="form-control" data-ng-model="photo.title"></td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td><textarea class="form-control" data-ng-model="photo.description"></textarea></td>
                    </tr>
                </table>
                <p class="text-center"><button class="btn btn-primary btn-lg">update</button></p>
            </form>
        </div>
    </div>
</div>
