<div class="container">
    <div class="m-t-md"></div>
    <div class="pinGridWrapper" data-ng-if="r">
        <div class="pinGrid">
            <div class="pin animation" data-ng-repeat="photo in r.results">
                <a data-ng-href="#!/photo/{{ photo.id }}">
                    <img data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}">
                </a>
                <h2>{{ ( photo.title ) ? photo.title : 'Untitled' }}</h2>
                <p>{{ photo.create_date | date : 'longDate': '+0800'}}
                    <span class="pull-right text-muted">by <i class="fa fa-user">&nbsp;{{ photo.owner_name }}</i></span></p>
                <ul class="list-inline text-muted text-center small">
                    <li><i class="fa fa-clock-o fa-lg"></i> {{ photo.activity }}
                    </li>
                    <li><i class="fa fa-comments"></i> {{ photo.comment_count }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="enough">
        <div class="col-md-12 col-xs-12">
            <h2 class="text-center text-muted">No More Photos</h2>
        </div>
    </div>
</div>
