.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.img-center {margin:0 auto;}

.row-label {
    background-color: rgba(224, 224, 224, 0.5);
}

.thumbnail-x a img{
    height: 200px;
    max-width: 100%;
    vertical-align: middle;
}

.img-center {margin:0 auto;}
.fixed-alerts { position: fixed; z-index:99; top: 120px;}

body {
    padding-top: 50px;
    padding-bottom: 70px;
}

/* Group */

.group-crop {
    width: 100%;
}
.group{
    height: 200px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .no-img-xs{
        line-height: 55px;
        width: 100%;
    }
    .img-wrap-xs {
        height: 70px;
        overflow: hidden;
    }
    .empty-xs {
        height: 356px;
    }
    .pre-img-xs {
        height: 162px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .no-img-md{
        line-height: 78px;
        width: 100%;
        height: 100%;
    }
    .img-wrap-md {
        height: 90px;

    }
    .empty-md {
        height: 376px;
    }
    .pre-img-md {
        height: 180px;
        overflow: hidden;
    }
}

.group-bottom{
    padding-top: 0;
}
.dashed {
    border: 3px dashed;
}

.empty {
    padding: 2px;
}
.empty > div{
    height: 100%;
}
