.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.row-label {
    background-color: rgba(224, 224, 224, 0.5);
}

.thumbnail-x a img{
    height: 200px;
    max-width: 100%;
    vertical-align: middle;
}

.img-center {margin:0 auto;}
.fixed-alerts { position: fixed; z-index:99; top: 120px;}

body {
    padding-top: 50px;
    padding-bottom: 70px;
}

/* Group */

.img-crop {
    height: 60px;
}
.group-crop {
    bottom: 0px;
    height: 70px;
    width: 100%;
    opacity: 1;
}
.group-text {
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(171, 71, 188, 0.5);
    opacity: 0;
    color: #fff;
}

.group:hover > .group-crop{
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.group:hover > .group-text{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}